# --- DEPENDENCIES ---
node_modules/

# --- EXPO & BUILDS ---
.expo/
dist/
web-build/
# File deklarasi TS Expo (biasanya digenerate otomatis)
expo-env.d.ts

# --- SECRETS (BAGIAN KRUSIAL) ---
# Mengabaikan SEMUA file env (tidak hanya yang .local)
.env
.env.*
*.env
# Kunci sertifikat native (jangan sampai ter-push)
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# --- NATIVE FOLDERS ---
# Karena kamu pakai Expo Managed Workflow, folder ini jangan di-push
/ios
/android

# --- DEBUG & LOGS ---
npm-debug.*
yarn-debug.*
yarn-error.*
.metro-health-check*
*.tsbuildinfo

# --- OS & IDE ---
.DS_Store
.vscode/
.idea/